
/*Mobile first and then use Media Query for larger screens like tablet and desktops */

body {
    background-color: white;
    color: black;
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: cadetblue;
    color: white;

}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 0px;
}

nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}

nav ul li:hover {
    background-color: black;
}

.position-container {
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;

}

footer{
    height: 150px;
}

footer ul{
    text-align: center;

}
footer ul > li{
    display: inline-block;
}
footer ul > li i{
    font-size: 120%;
    
}

.gig-wrapper {
    padding: 30px;
    display: flex;
    align-items: center;
}

.gig-wrapper h3 {
    height: 40px;
}

.gig {
    height: 50px;
    overflow: hidden;
}

.gig > div span {
    padding: 5px 15px;
    height: 40px;
    margin-bottom: 30px;
    display: block;

}
.gig div:first-child{
    animation: slide 8s linear infinite;
}

@keyframes slide{
    0%{
        margin-top: -240px
    }
    5%{
        margin-top: -160px;
    }
    35%{
        margin-top: -160px;
    }
    40%{
        margin-top: -80px;

    }
    65%{
        margin-top: -80px;
    }
    70%{
        margin-top: 0;
    }
    99.99%{
        margin-top: 0;
    }
    100%{
        margin-top: -240px;
    }

}

@media screen and (min-width: 700px) {
    nav ul {
        text-align: right;
    }
    nav ul li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid block;
        text-align: left;
    }
}