
/*Mobile first and then use Media Query for larger screens like tablet and desktops */

*{ 
    padding: 0px;
    margin: 0px;
    border:0;
}
:root {
    --white: #fff;
}
body {
    background-color: grey;
    color: black;
    font-size: 16px; 
    font-family: Arial, Helvectica, sans-serif;
}
#position_header_title {
    background-color: maroon;
    padding: 12px 12px 12px 18px; 
    margin: 15px 0px 10px 0px; 
    border: 1px solid black;
    height: 23px;
    width: 370px;
    text-align: left;
    font-size: 75%;
}

header h1 {
    font-size: 150%;
}

/* Navigation styling  */
nav {

    width: 370px;
    border-bottom: 10px;
}
nav ul {
    width: 395px;
    list-style-type: none;
    text-align: center;
    display: none;
}
nav li > a {
    padding-left: -60px;
    margin-left: -60px;
}

nav li {
    background-color: maroon;
    color: white;
    padding: 14px;
    text-align:  center;
    font-size: 1.1rem;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
}

nav a{
    text-decoration: none;
    color: var(--white);
    display: block;
    border-bottom: 1px solid #EAEAB;
    font-size: 15px;
}

nav ul li:hover {
    background-color: black;

}
.burger_menu {
    position: absolute;
    margin: 0px 10px 35px 35px;
    font-size: 25px;
    display: block;
    float: right;
    padding-right: 1px;
    cursor: pointer;
    top: 20px;
    right: 0;
    color: var(--white);
}

#toggle:checked + #menu {
    display: block;
}

#toggle {
    display: none;
}

/* styling the hero/band logo image */

img{ 
    /*max-width: 280px;*/
    /*max-height: 280px;*/
    max-width: 100%; /*added today 19th Apr */
    max-height: 100%; /*added today 19th Apr */
    display: block; 
}

/* positioning rule to apply to different divs/sections on the website pages */

.position-container {
   max-width: 1020px; 
   margin: 0px auto; 
   padding: 0px 20px; 
}
.position-form {
   margin: 5px 15px 15px 48px;
}

.bio {
    width: 230px; 
    padding-top: 15px;  
    padding-left: 15px; 
}
.bio > p {
    font-size: 60%;
    overflow-wrap: break-word;
}

.menu_position-container {
    margin: 10px auto;
    padding: 0px -14px 0px -14px;
    text-align: right;
}

/* styling rules for the video's on the live page   */
#video-list {
    text-align: center;
    margin-top: 10px;
}
iframe {
    border: 1px solid red;
    font-size: 70%; 
    width: 270px; 
    height: 200px;
}

.item-video{
    display: inline;
    padding: 1%;
}

.ToFindOut > p {
    padding-top: 10px;
    padding-left: 2px;
    font-size: 60%;
    text-align: left;
    margin-left: 2px;
}
.ToFindOut a:link {
  color: maroon;
}
.ToFindOut a:visited {
  color: maroon;
}

/* styling for the testimonial page  */
.star-wrapper{
    width: 170px;
    height: 90px;
    padding: 1px 50px 0 50px;
    border-top: 10px;
    background-color: maroon;
    margin-top: 15px;
    margin-bottom: 1px;
}
.star-section h5{
    color: var(--white);
    font-size: 60%;
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.star-section ol{
    list-style-type: none;
    font-weight: bold;
    text-align: left;
    font-size: 60%;
    margin-left: 2px;
}
.star-section li{
    font-size: 90%;
   
}
.review_container_pos{
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
    overflow: auto;
    height: 300px;
    width: 250px;
}

.test_title{
    background-color: maroon;
    color: var(--white);
    font-size: 90%;
    max-width: 1020px;
    margin: 0px auto;
    padding: 0px 16px;
    width: 240px;
    height: 20%;
    margin-top: 5px;
}
.test_title h3{
    font-size: 90%;
}

.user_review {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user_review > p{
    font-style: italic;  
    overflow-wrap: break-word; 
    font-size: 80%;
}
.user_review footer {
    font-size: 80%;
    padding: 0;
    margin-bottom: 10px;
}

.user_review footer > p span {
    font-weight: bold; 
}

.band_pic, .testpic {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 15px;
    /*max-width: 1020px;*/
    padding: 0px 16px;
    margin-left: 38px;
    max-width: 180px;/* added today 19th Apr*/
    max-height: 180px;/*added today 19th Apr */
    padding-bottom: 55px;
    /*margin-bottom: 25px;*/

}


/* Footer styling for the social media */

footer{
    height: 150px;
    padding-top: 20px;
}

footer ul{
    text-align: center;
}

footer ul > li{
    display: inline-block;
    margin-right: 30px; /*spacing out social media icons -orig setting */
    font-size: 150%; /*enlarging social media icons - */
}

footer ul >li i{
    font-size: 100%;
    margin: 10%;
    padding: 20%;
    color: black;  /*colouring social media icons*/
}

.booking-form {
    margin: 30px 10% 0 0;
    margin-top: 15px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 380px;
    padding: 20px;
}

.booking-form h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 90%;
}
.booking-form label {
    font-size: 70%;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #f16c6b;
}

.booking-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;*/
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
    font-size: 80%;
}
.booking-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* This is styling for the gig info display on index/main page */
.gig-wrapper {
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.gig-wrapper h3{
    height: 40px;
    font-size: 60%;
}
.gig {
    height: 50px;
    overflow: hidden;
}

.gig > div span {
    font-size: 60%;
    padding: 5px 15px;
    height: 40px;
    margin-bottom: 30px;
    display: block;
}
.gig div:first-child{
    animation: slide 8s linear infinite;
}
/* this is the slide frames update */
@keyframes slide{
  0%{
    margin-top: -240px
  }
  5%{
    margin-top: -160px;

  }
  35%{
    margin-top: -160px;
  }
  40%{
    margin-top: -80px;
  }
  65%{
    margin-top: -80px;
  }
  70%{
    margin-top: 0;
  }
  99.99%{
    margin-top: 0;
  }
  100%{
    margin-top: -240px;
  }
}

/* tablet and desktop format styling below */

@media screen and (min-width: 700px) {

    #position_header_title {
        background-color: maroon;
        padding: 15px;
        margin: 5px 0px 5px, 0px;
        border: 1px solid black;
        width: 1520px;
        text-align: center;
    }

    header h1 {  
        font-size: 200%;
    }

    .star-section h5{ 
        color: #fff;
        margin-top: 15px;
    }
    footer ul > li{
        display: inline-block;
        margin-right: 50px;  
    }
    footer ul >li i{
        font-size: 120%;
    }

    iframe {
        width: 400px; 
    }
    .position-form {
        margin: 5px 15px 15px 350px;
    }
    .ToFindOut p {
        padding-left: 100px;
        font-size: 100%;
    }
    nav {
        height: 70px; 
        background-color: black;
        text-align: left;
        width: 1550px;
    }

    nav ul {
        background-color: black;
        max-width: 1300px;
        margin: 15px auto;
        padding: 0px -10px 0px -10px;
        text-align: right;
        width: 1300px;
        display: inline-block;
    }

    nav ul > li {
        display: inline-block;
        border-left: 1px solid black; 
        text-align: center;
        background-color: maroon;
        margin-right: 5px;
    }
    nav li > a {
    padding-left: 0px;
    margin-left: 0px;
}

    .burger_menu{
        display: none;
    }
    
    .bio {
        float: left;
        width: 550px;
        padding-top: 55px;
        padding-left: 110px;
    }
    .bio > p {
        font-size: 100%;
    }
    .gig div > span {
        font-size: 100%;
    }
    .gig-wrapper h3 {
        font-size: 100%;
    }

    img{
        max-width: 170%;
        max-height: 170%;
        display: block; 
    }
    .review_container_pos{
        float: left;
        width: 590px;
        padding-left: 270px;
    }
    .user_review {
      padding: 0;
    }
    .user_review > p{
      font-size: 90%;
      overflow-wrap: break-word;
    }
    .user_review footer {
      font-size: 90%;
      padding: 0;
    }
    .star-section ol{
      font-size: 90%;
    }
    .star-section li{
      font-size: 90%;
    }
    .star-section i{
        font-size: 90%;
    }
    .star-wrapper{
        width: 20%;
    }
    .reviewers {
        width: 500px;
    }
    .test_title{
        padding-top: 10px;
        padding-bottom: 0px;
        width: 973px;
        height: 30px;
    }
    .band_pic{
        float: left;
        height: 500px;
        width: 500px;
        padding-left: 237px;
        object-fit: cover;
        border-right: 10px;
        padding-bottom: 125px;
        padding-right: 150px;
    }
    .testpic{
        width: 230px;
        height: 230px;
        float: left;
        margin-top: 1px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 122px;
        padding-bottom: 0px;
    }
    #social_media{
        clear: both;
    }
    .booking-form label {
        font-size: 90%;
    }
    .booking-form > h2 {
        font-size: 120%;
    }



    .gig-wrapper{
        padding-top: 50px;
        clear: both;
    }
    

  /*below is setting to change to a custom scroll-bar has a nicer appearance tham the default scrollbar  */
  /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}